backend/coverage
backend/__pycache__
backend/**/__pycache__
backend/.gitignore
backend/Dockerfile
backend/.dockerignore


fronend/node_modules
fronend/.pnp
fronend/.pnp.js

fronend/coverage
fronend/.gitignore
fronend/Dockerfile
fronend/.dockerignore

fronend/.DS_Store
fronend/.env.local
fronend/.env.development.local
fronend/.env.test.local
fronend/.env.production.local

fronend/npm-debug.log*
fronend/yarn-debug.log*
fronend/yarn-error.log*


*.yml