.background {
    background: url('/frontend/public/assets/recuento/header2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50em;

}

.text-color {
    color: aliceblue;
}

@media screen and (100px <= width <=700px) {
    .background {
        background: url('/frontend/public/assets/recuento/header3_420X273.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50em;

    }
 
}