@import url(
  'https://fonts.googleapis.com/css2?family=Rubik+Glitch:wght@300;400;600&family=Lora:wght@300;400;600&display=swap'
);


* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::after,
::before {
  box-sizing: inherit;
}

h1 {
  font-family: 'Rubik Glitch', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

h3,
h4,
h5,
h6 {
  font-family: Lora, 'Lucia Sans Unicode';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}

p {
  font-family: Lora, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #4a4848;
}
