.card-weather {
    position: absolute;
    z-index: 999;
    left: 78%;
    top: 60px;
    background-color: #2c1338;
}

.text-color {
    color: aliceblue;
}

@media (768px <= width <= 1024px) {
    .card-weather {
        left: 48%;
    }
}

@media (425px <= width <= 768px) {
    .card-weather {
        left: 30%;
    }
}

@media (320px <= width <= 425px) {
    .card-weather {
        left: 0%;
    }
}